.width-50p {
    width: 50%;
}

.not-fat {
    font-weight: 100;
}

.noshow {
    display: none;
}

.center {
    text-align: center;
}

.dis-block {
    display: block;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}